---
layout: layouts/base.njk
---
<section class="section container">
  <div class="docs">
    {% include "partials/docs-nav.njk" %}
    <article class="docs__article">
      {{ content | safe }}
    </article>
  </div>
</section>
