---
layout: layouts/standalone.njk
key: coming-soon
permalink: /coming-soon.html
bodyClass: page-coming-soon
pageStyle: /styles/pages/coming-soon.css
noindex: true
eleventyExcludeFromCollections: true
---

<div class="coming-soon">
  <img class="coming-soon__logo logo--spin" src="/assets/images/logo.png" alt="Orcraft logo" />
  <img class="coming-soon__wordmark" src="/assets/images/wordmark.png" alt="{{ site.name }}" />

  <p>A test orchestration platform</p>
  <p><em>Coming soon...</em></p>

  <p class="coming-soon__copyright">
    © 2026 {{ site.company }} All rights reserved.<br />
    {{ site.name }}™ is a trademark of <a href="{{ site.companyUrl }}">{{ site.company }}</a>
  </p>
</div>
