{% macro zoomableImage(src, alt, size) %}
<button class="zoomable-image{% if size %} zoomable-image--{{ size }}{% endif %}" type="button" data-lightbox aria-label="Enlarge screenshot">
  <img src="{{ src }}" alt="{{ alt }}" loading="lazy" />
</button>
{% endmacro %}
